* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Montreal', sans-serif;
}

body {
    background-color: #F1F0EE;
}

h6 {
    font-size: 16pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Neue Montreal', sans-serif;
}

h1, h2, h3 {
    line-height: 120%;
}

h4, h5, h6 {
    line-height: 140%;
}



.container {
    width: 100%;
    margin-left: 27px;
    margin-right: 27px;
}



/* xs */
@media (min-width: 390px) {


    .container {
        max-width: 390px;
    }

    .nav-bar {
        margin-top: 27px;
        height: 25px;
        display: flex;
        width: auto;
        align-items: center;
        justify-content: space-between;
    }

    .nav-bar {
        transform: translateY(-115px);
        transition: transform 0.5s;
    }

    .hero-section {
        width: auto;
        height: 100svh;
    }

    .hero-title {
        padding-top: 15rem;
    }

    .hero-title p {
        font-weight: 300;
    }

    .hero-head {
        font-weight: 600;
        font-size: 24pt;
        line-height: 120%;
    }
    
    .hero-2 {
        font-weight: 600;
        font-size: 24pt;
        line-height: 120%;
    }

    .hero-title h1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
    }
    

    
    .char {
        transform: translateY(115px);
        transition: transform .2s;
    }

    .p-text {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


}



/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}